<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dharamsol.ismart_vehicle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <service android:name=".myTrackingService" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySharingUser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityRegister"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityRegisterVehicle"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ActivityGoogleMaps"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityPassengerClick"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityQueryingUser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivitySelectRoutes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivitySelectVehicle"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityVehicleReserved"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityTracking"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityAllVehiclesActive"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityAllVehiclesActiveBySelectedRoutes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityGoogleMapRoutesTracking"
            android:label="@string/app_name" >
        </activity>
        <service
            android:name=".myTrackingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>
